@page "/"
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor HttpContextAccessor

<h1>Hello, world!</h1>

<button @onclick="Redirect">Connect to Quickbook</button>

@code
{   
        private const string ClientId = "AB982kbi6DYVFZK8Ea4oaQDkss3SJmUSYjR7OJMDa2zIOiRBtS";
        private const string Scope = "com.intuit.quickbooks.accounting";
        private const string State = "1235";

    private string GetAuthorizeUrl()
    {
        var redirectUri = $"https://{HttpContextAccessor.HttpContext!.Request.Host}/receiver";
        return $"https://appcenter.intuit.com/connect/oauth2?client_id={ClientId}&scope={Scope}&redirect_uri={redirectUri}&response_type=code&state={State}";
    }

    private void Redirect()
    {
        NavigationManager.NavigateTo(GetAuthorizeUrl());
    }
}
